<div>
  <h1>Number of players</h1>
  <p *ngIf="!isPlaying && playersCount.length > 0">
    <input type="text" #input />
    <button (click)="enterPlayers(input.value)">Enter number of players</button>
  </p>
</div>
<div *ngIf="isPlaying && playersCount.length > 0">
  <div *ngFor="let playerName of playersCount; let i = index">
    <app-sectors [playerId]="i + 1" [endOfGame]="endOfGameFunc"></app-sectors>
  </div>
</div>
<p></p>
<div *ngIf="endOfGame">
  <button (click)="resetTheGame()">Reset the game</button>
</div>
